<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startseite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Designprozess-Analyse</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p class="flash-message">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="center-content">
    <label class="info-text">Laden Sie Ihre Excel-Dateien hoch (1 Datei pro Designprozess):</label>
</div>

<div class="center-content">
    <form method="POST" action="/upload" enctype="multipart/form-data" class="upload-form">
        <input type="file" name="files" multiple accept=".xlsx" required>
        <br><br><br>
        <button type="submit" class="btn">Dateien hochladen</button>
    </form>
</div>

{% if combined_file_exists %}
<div class="button-row">
    <a href="/download_combined_file" class="btn">Kombinierte Datei herunterladen</a>
</div>
{% endif %}

<p class="info-text">
    Nach erfolgreichem Upload wählen Sie unten eine Analyseart aus.
</p>

<div class="button-row">
    <button class="btn" onclick="location.href='/correspondence_analysis'">Correspondence Analysis</button>
    <button class="btn" onclick="location.href='/cumulative_occurence_analysis'">Cumulative Occurrence Analysis</button>
    <button class="btn" onclick="location.href='/markov_chain_analysis'">Markov Chain Analysis</button>
</div>
<br><br><br><br><br><br>

</body>
</html>
