<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Process Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Design Process Analysis</h1>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-messages">
    {% for message in messages %}
    <p class="flash-message">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div class="center-content">
    <label class="info-text">Upload your Excel files (1 file per design process):</label>
</div>

<div class="center-content">
    <form method="POST" action="/upload" enctype="multipart/form-data" class="upload-form">
        <label for="file-upload" class="custom-file-upload">
            <strong>Select Excel Files</strong>
        </label>
        <input id="file-upload" type="file" name="files" multiple accept=".xlsx" required>
        <button type="submit" style="background-color: #28a745;">Upload</button>
    </form>

</div>

{% if combined_file_exists %}
<div class="button-row">
    <a href="/download_combined_file" class="btn">Download merged file</a>
</div>
{% endif %}
<p class="info-text">
    After uploading successfully, select an analysis method below.
</p>
<div class="button-row">
    <form action="/correspondence_analysis" method="get">
        <button type="submit">Correspondence Analysis</button>
    </form>
    <button class="btn" onclick="location.href='/cumulative_occurence_analysis'">Cumulative Occurrence Analysis</button>
    <form action="/markov_analysis" method="get">
        <button type="submit">Markov Model Analysis</button>
    </form>
</div>
<br><br><br><br><br><br>
</body>
</html>
