<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Markov-Ketten-Analyse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Markov-Ketten-Analyse</h1>
<form method="POST">
    <label for="register" style="margin-left: 25px;" >Wähle ein Register:</label>
    <select name="register" id="register" required>
        {% for r in registers %}
        <option value="{{ r }}" {% if selected_register == r %}selected{% endif %}>{{ r }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <button type="submit" style="margin-left: 25px;">Erzeugen</button>
</form>


<div class="center-content">
    {% if selected_register %}
    <h2>Markov-Diagramm: </h2>
    <br>
    <br>
    <img src="{{ url_for('static', filename='diagrams/' + selected_register + '_markov.png') }}" alt="Markov Diagramm">
    {% endif %}
    <br>
</div>
<br><br><br><br><br><br>
</body>
</html>
